@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, .skills, .projects, .hero{
  background-image: url("../public/images/background/small-yellow-flowers-table.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body, .projects, .skills, .text-cv, .hero-blur,
.footer, .cv, .email-modal, .copy-button{
  font-size: large;
  font-family: 'Red Hat Display';
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.copy-button, .close-email, .close-panel, .cv-button{
  cursor: pointer;
  border: none;
  background: none;
}

.cv-modal, .email-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 1;
} 

.cv-panel, .email-panel{
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  position: relative;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.close-panel, .close-email{
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.email-info{
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}

.icon-mail{
  width: 20px;
  height: 20px;
  color: #67917B;
  display: inline-block;
}

.text-mail{
  font-size: 18px;
  align-items: center;
}

.email-info .copy-button{
  width: 50%;
  margin: 20px 0;
}

.copy-button{
  height: auto;
  background: #67917B;
  color: #ffffff;
  background: #67917B;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills, .hero-blur{
  backdrop-filter: blur(10px);
  height: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
}

.hero-blur{
  margin: 0;
  padding: 0;
  border-radius: 0; 
  text-align: center;
}

.hero .highlight {
  color: #333;
  font-family: 'Caveat', sans-serif;
  font-size: 50px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  margin-bottom: 40px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.text-cv {
  text-align: center;
  margin-left: 60px;
}

.text {
  text-align: justify;
  margin-bottom: 20px;
}

.text h2 {
  margin-bottom: 10px;
}

.text p {
  margin-bottom: 8px;
}

.cv {
  color: #ffffff;
  background: #67917B;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cv-button{
  width: 100%;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.cv-button:hover{
  transform: scale(1.2); 
}

.button-panel{
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin: 5px;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.button-panel:hover{
  text-decoration: underline;
}

.icon-cv{
  transition: transform 0.3s ease;
  font-size: 18px;
  color: #67917B;
}

.icon-cv:hover{
  transform: scale(1.2); 
}

.myphoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myphoto img {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
}

.skills {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-sizing: border-box;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(8, auto); 
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.skill-icon {
  text-align: center;
}

.skill-icon svg {
  font-size: 4rem; 
  color: #555; 
}

.skill-icon p {
  margin-top: 5px;
  font-size: 1rem;
  color: #333;
}

section {
  padding: 40px 20px;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}

.projects h2{
  background-color: #ffffff;
  width: 100%;
  height: auto;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-item {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 600px; 
  height: 350px;
  border-radius: 15px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project-item-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  outline: 2px solid white;
  outline-offset: -15px;
}

.project-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px; 
  width: 50%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.project-item-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 10px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.project-item-description {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
  text-align: left;
}

.project-item-action {
  display: flex;
  justify-content: flex-end;
}

.footer{
  font-size: 13px;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  text-align: center;
}

.typing-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: black;
  animation: blink 1s step-end infinite;
}

@media (max-width: 768px) {
  .icon-container {
    grid-template-columns: repeat(3, auto); /* Cambiar a 3 columnas */
  }
}

@media (max-width: 480px) {
  .icon-container {
    grid-template-columns: repeat(2, auto); /* Cambiar a 2 columnas */
  }
}


@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .text-cv, .myphoto {
    width: 100%; 
    text-align: center;
  }

  .text {
    margin-bottom: 20px;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}